In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,2,None], dtype='Int64')
s + 1

0       2
1       3
2    <NA>
dtype: Int64

In [5]:
s

0       1
1       2
2    <NA>
dtype: Int64

In [4]:
# s ==1
s.iloc[1:3]

1       2
2    <NA>
dtype: Int64

In [6]:
s + s.iloc[1:3].astype('Int8')

0    <NA>
1       4
2    <NA>
dtype: Int64

In [7]:
s + 0.01

0    1.01
1    2.01
2    <NA>
dtype: Float64

In [11]:
df = pd.DataFrame({'A': s, 'B': [1,1,3], 'C': list('aab')})
df['A'], df[['B', 'C']]

(0       1
 1       2
 2    <NA>
 Name: A, dtype: Int64,
    B  C
 0  1  a
 1  1  a
 2  3  b)

In [14]:
df

      A  B  C
0     1  1  a
1     2  1  a
2  <NA>  3  b

In [15]:
pd.concat([df[['A']], df[['B', 'C']]], axis=1)

      A  B  C
0     1  1  a
1     2  1  a
2  <NA>  3  b

In [17]:
df.groupby('C').mean()

      A    B
C
a   1.5  1.0
b  <NA>  3.0

In [18]:
df.groupby('C').A.mean()

C
a     1.5
b    <NA>
Name: A, dtype: Float64

In [20]:
pd.Series([True, False, np.nan], dtype='object') | True

0     True
1     True
2    False
dtype: bool

In [23]:
False| True

True

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan],[19, 439, 6, 452, 226,232]],
                  index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                  columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'],['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df.style

In [32]:
df.style.format(precision=0, na_rep='Missing', thousands=' ',
                formatter = {('Decision Tree', 'Tumour'): '{:.2f}',
                             ('Regression', 'Non-Tumour'): lambda x: '${:,.1f}'.format(x*-1e6)})
                             # ('Regression', 'Non-Tumour'): '{:.1f}'})

In [40]:
s = df.style.format('{:.0f}').hide_columns({'Random': ['Tumour', 'Non-Tumour']})
s

In [41]:
cell_hover = { 'selector': 'td: hover',
                'props': [('background-color', '#ffffb3')]}
index_names = {'selector': '.index_name',
                'props': 'font=style: italic; color:darkgrey; font-wight:normal;'}
headers = {'selector': 'th:not(.index_name)', 
            'props': 'background-color: #000066; color:white;'}
s.set_table_styles([cell_hover, index_names, headers])

In [42]:
ser = pd.Series(np.random.randn(8))

In [43]:
ser

0   -0.222780
1   -0.795519
2   -1.515581
3   -0.213983
4   -0.420776
5   -0.077922
6   -0.934347
7   -1.819537
dtype: float64

In [44]:
ser.pct_change()

0          NaN
1     2.570865
2     0.905149
3    -0.858811
4     0.966397
5    -0.814814
6    10.990809
7     0.947389
dtype: float64

In [51]:
ser.pct_change(periods=3)

0         NaN
1         NaN
2         NaN
3   -0.039489
4   -0.471068
5   -0.948586
6    3.366456
7    3.324246
dtype: float64

In [52]:
(ser[3]-ser[0])/ ser[0]

-0.039489159339452636

In [53]:
(ser[4]-ser[1])/ ser[1]

-0.4710676605592974

In [54]:
s1 = pd.Series(np.random.randn(1000))
s2 = pd.Series(np.random.randn(1000))
s1.cov(s2)

-0.0014281161639552323

In [63]:
df = pd.DataFrame([ ("bird", "Falconiformes", 389.0),
                    ("bird", "Psittaciformes", 24.0),
                    ("mammal", "Carnivora", 80.2),
                    ("mammal", "Primates", np.nan),
                    ("mammal", "Carnivora", 58)],
                    index=["falcon", "parrot", "lion", "monkey", "leopard"],
                    columns=("class", "order", "max_speed"))
# df.groupby('class').mean()
# grouped
# grouped = df.groupby('order', axis=1)
df.groupby(['class', 'order']).mean()
# grouped.mean()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora            69.1
       Primates              NaN

In [62]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [71]:
df = pd.DataFrame({ "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
                    "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
                    "C": np.random.randn(8),
                    "D": np.random.randn(8)})
df2 = df.set_index(['A', 'B'])
# df2.groupby(level=df2.index.names.difference(['B'])).sum()
df2.groupby(level=0, axis=1).mean()

                  C         D
A   B
foo one    1.161162 -0.270694
bar one    0.370428  1.359467
foo two   -0.059330  0.546382
bar three -1.385442 -0.523856
foo two    0.535782 -0.290102
bar two    0.598383 -0.099700
foo one    2.676363 -0.157589
    three  1.241822 -1.376351

In [69]:
df2.groupby(level=0, axis=0).mean()

            C         D
A
bar -1.161109 -1.628863
foo  0.050205  0.110419