In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,0.6], [2,3,0.4], [3,4,0.2], [4,5,.7]])
df

   0  1    2
0  1  2  0.6
1  2  3  0.4
2  3  4  0.2
3  4  5  0.7

In [9]:
df = pd.DataFrame([[1,2,0.6], [2,3,0.4], [3,4,0.2], [4,5,0.7]])

          0         1         2
0  1.000000  2.000000  0.600000
1  1.750000  2.750000  0.450000
2  2.615385  3.615385  0.276923
3  3.550000  4.550000  0.562500

In [17]:
for i in df.ewm(2):
    print(i)

   0  1    2
0  1  2  0.6
1  2  3  0.4
2  3  4  0.2
3  4  5  0.7

6

In [ ]:
online_ewm = df.head(2).ewm(0.5).online()
online_ewm.mean()

In [15]:
df.mean()

0    2.500
1    3.500
2    0.475
dtype: float64

In [28]:
time = ['2020-01-01', '2020-01-03', '2020-01-04', '2020-01-05', '2020-01-29']
s = pd.Series(range(5), index=pd.DatetimeIndex(time))
s.rolling(window=2).sum()

2020-01-01    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    7.0
dtype: float64

In [29]:
s.rolling(window='2D').sum()

2020-01-01    0.0
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    4.0
dtype: float64

In [31]:
s

2020-01-01    0
2020-01-03    1
2020-01-04    2
2020-01-05    3
2020-01-29    4
dtype: int64

In [32]:
for i in s.rolling(window='2D'):
    print(i)

2020-01-01    0
dtype: int64
2020-01-03    1
dtype: int64
2020-01-03    1
2020-01-04    2
dtype: int64
2020-01-04    2
2020-01-05    3
dtype: int64
2020-01-29    4
dtype: int64

In [34]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4]}, index=pd.date_range('2020', periods=5, freq='1D'))
df.rolling('2D', center=True).mean()

              A
2020-01-01  0.5
2020-01-02  1.5
2020-01-03  2.5
2020-01-04  3.5
2020-01-05  4.0

In [36]:
for i in df.rolling('2D', center=True):
    print(i)

            A
2020-01-01  0
2020-01-02  1
            A
2020-01-02  1
2020-01-03  2
            A
2020-01-03  2
2020-01-04  3
            A
2020-01-04  3
2020-01-05  4
            A
2020-01-05  4

In [39]:
s = pd.Series(range(10))
for i in s.rolling(window=5, center=True):
    print(i)

0    0
1    1
2    2
dtype: int64
0    0
1    1
2    2
3    3
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
2    2
3    3
4    4
5    5
6    6
dtype: int64
3    3
4    4
5    5
6    6
7    7
dtype: int64
4    4
5    5
6    6
7    7
8    8
dtype: int64
5    5
6    6
7    7
8    8
9    9
dtype: int64
6    6
7    7
8    8
9    9
dtype: int64
7    7
8    8
9    9
dtype: int64

In [40]:
df = pd.DataFrame({"x": 1}, index=[ pd.Timestamp("20130101 09:00:01"),
                                    pd.Timestamp("20130101 09:00:02"),
                                    pd.Timestamp("20130101 09:00:03"),
                                    pd.Timestamp("20130101 09:00:04"),
                                    pd.Timestamp("20130101 09:00:06")])
df['right'] = df.rolling('2s', closed='right').mean()

In [45]:
for i in df.rolling('2s', closed='right').x:
    print(i)

2013-01-01 09:00:01    1
Name: x, dtype: int64
2013-01-01 09:00:01    1
2013-01-01 09:00:02    1
Name: x, dtype: int64
2013-01-01 09:00:02    1
2013-01-01 09:00:03    1
Name: x, dtype: int64
2013-01-01 09:00:03    1
2013-01-01 09:00:04    1
Name: x, dtype: int64
2013-01-01 09:00:06    1
Name: x, dtype: int64

In [48]:
for i in df.rolling('2s', closed='left').x:
    print(i)

Series([], Name: x, dtype: int64)
2013-01-01 09:00:01    1
Name: x, dtype: int64
2013-01-01 09:00:01    1
2013-01-01 09:00:02    1
Name: x, dtype: int64
2013-01-01 09:00:02    1
2013-01-01 09:00:03    1
Name: x, dtype: int64
2013-01-01 09:00:04    1
Name: x, dtype: int64

In [49]:
for i in df.rolling('2s', closed='both').x:
    print(i)

2013-01-01 09:00:01    1
Name: x, dtype: int64
2013-01-01 09:00:01    1
2013-01-01 09:00:02    1
Name: x, dtype: int64
2013-01-01 09:00:01    1
2013-01-01 09:00:02    1
2013-01-01 09:00:03    1
Name: x, dtype: int64
2013-01-01 09:00:02    1
2013-01-01 09:00:03    1
2013-01-01 09:00:04    1
Name: x, dtype: int64
2013-01-01 09:00:04    1
2013-01-01 09:00:06    1
Name: x, dtype: int64

In [50]:
for i in df.rolling('2s', closed='neither').x:
    print(i)

Series([], Name: x, dtype: int64)
2013-01-01 09:00:01    1
Name: x, dtype: int64
2013-01-01 09:00:02    1
Name: x, dtype: int64
2013-01-01 09:00:03    1
Name: x, dtype: int64
Series([], Name: x, dtype: int64)

In [51]:
use_expanding = [True, False, True, False, True]
df = pd.DataFrame({'values': range(5)})
from pandas.api.indexers import BaseIndexer
class CustomIndexer(BaseIndexer):
    def get_window_bounds(self, num_values, min_periods, center, closed):
        start = np.empty(num_values, dtype=np.int64)
        end = np.empty(num_values, dtype=np.int64)
        for i in range(num_values):
            if self.use_expanding[i]:
                start[i] = 0
                end[i] = i + 1
            else:
                start[i] = i
                end[i] = i + self.window_size
        return start, end
indexer = CustomIndexer(window_size=1, use_expanding=use_expanding)
df.rolling(indexer).sum()

   values
0     0.0
1     1.0
2     3.0
3     3.0
4    10.0

In [55]:
use_expanding = [True, False, True, False, True]
df = pd.DataFrame({'values': range(5)})
from pandas.api.indexers import BaseIndexer
class CustomIndexer(BaseIndexer):
    def get_window_bounds(self, num_values, min_periods, center, closed):
        start = np.empty(num_values, dtype=np.int64)
        end = np.empty(num_values, dtype=np.int64)
        for i in range(num_values):
            if self.use_expanding[i]:
                start[i] = 0
                end[i] = i + 1
            else:
                start[i] = i
                end[i] = i + self.window_size
        return start, end
indexer = CustomIndexer(window_size=1, use_expanding=use_expanding)
df.rolling(indexer).sum()

   values
0     0.0
1     1.0
2     3.0
3     3.0
4    10.0

In [67]:
from pandas.api.indexers import VariableOffsetWindowIndexer
df = pd.DataFrame(range(10), index=pd.date_range('2020', periods=10))
# df
offset = pd.offsets.BDay(1)
indexer = VariableOffsetWindowIndexer(index=df.index, offset=offset)
for i in df.rolling(indexer):
    print(i)

            0
2020-01-01  0
            0
2020-01-02  1
            0
2020-01-03  2
            0
2020-01-04  3
            0
2020-01-04  3
2020-01-05  4
            0
2020-01-04  3
2020-01-05  4
2020-01-06  5
            0
2020-01-07  6
            0
2020-01-08  7
            0
2020-01-09  8
            0
2020-01-10  9

In [5]:
df = pd.DataFrame(np.random.randn(10, 4), index=pd.date_range('2020-01-01', periods=10), columns=list('ABCD'))
df1 = df.cumsum()
df1

                   A         B         C         D
2020-01-01 -0.543583 -0.588736  1.116405  1.218742
2020-01-02 -0.207198  0.196343  0.217880 -0.210867
2020-01-03 -0.113428  0.093499  1.436925 -0.880112
2020-01-04 -0.422756 -0.482494  0.843452 -0.456330
2020-01-05 -0.145542  0.438325  2.333066  0.278738
2020-01-06 -0.081122  2.228140  1.745636 -0.144605
2020-01-07  0.047339  5.328704  1.879513 -0.187532
2020-01-08 -0.193188  5.352630  0.855872 -0.651730
2020-01-09  0.742860  5.563415  0.488059 -0.347088
2020-01-10  0.197228  5.568159 -0.052614 -0.461156

In [6]:
df

                   A         B         C         D
2020-01-01 -0.543583 -0.588736  1.116405  1.218742
2020-01-02  0.336385  0.785078 -0.898525 -1.429609
2020-01-03  0.093770 -0.102844  1.219045 -0.669245
2020-01-04 -0.309329 -0.575993 -0.593473  0.423782
2020-01-05  0.277215  0.920819  1.489614  0.735067
2020-01-06  0.064419  1.789815 -0.587430 -0.423343
2020-01-07  0.128461  3.100564  0.133877 -0.042927
2020-01-08 -0.240527  0.023926 -1.023641 -0.464198
2020-01-09  0.936048  0.210785 -0.367813  0.304642
2020-01-10 -0.545632  0.004744 -0.540674 -0.114068

In [7]:
df2 = df1[:4]
df2.rolling(window=2).corr(df1['B'])

              A    B    C    D
2020-01-01  NaN  NaN  NaN  NaN
2020-01-02  1.0  1.0 -1.0 -1.0
2020-01-03 -1.0  1.0 -1.0  1.0
2020-01-04  1.0  1.0  1.0 -1.0

In [8]:
df2

                   A         B         C         D
2020-01-01 -0.543583 -0.588736  1.116405  1.218742
2020-01-02 -0.207198  0.196343  0.217880 -0.210867
2020-01-03 -0.113428  0.093499  1.436925 -0.880112
2020-01-04 -0.422756 -0.482494  0.843452 -0.456330