In [1]:
import numpy as np
import pandas as pd
import datetime

In [19]:
# pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'), datetime.datetime(2018, 1, 1)])
dti = pd.date_range('2018-01-01', periods=3, freq='H')
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [20]:
dti = dti.tz_localize('UTC')
dti

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [21]:
dti.tz_convert('US/Pacific')

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

In [23]:
idx = pd.date_range('2018-01-01', periods=5, freq='H')
ts = pd.Series(range(len(idx)), index=idx)
ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: H, dtype: int64

In [24]:
ts.resample('2H').mean()

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.0
Freq: 2H, dtype: float64

In [25]:
friday = pd.Timestamp('2018-01-05')
friday.day_name()

'Friday'

In [26]:
saturday = friday + pd.Timedelta('2 day')
saturday.day_name()

'Sunday'

In [31]:
monday = friday + pd.offsets.BDay(3)
monday.day_name()

'Wednesday'

In [44]:
pd.Timestamp("2021-11-11") + pd.offsets.BDay()

Timestamp('2021-11-12 00:00:00')

In [45]:
s = pd.date_range('2021-11-01', '2021-11-21')

In [46]:
s = s + pd.offsets.BDay()

In [47]:
s

DatetimeIndex(['2021-11-02', '2021-11-03', '2021-11-04', '2021-11-05',
               '2021-11-08', '2021-11-08', '2021-11-08', '2021-11-09',
               '2021-11-10', '2021-11-11', '2021-11-12', '2021-11-15',
               '2021-11-15', '2021-11-15', '2021-11-16', '2021-11-17',
               '2021-11-18', '2021-11-19', '2021-11-22', '2021-11-22',
               '2021-11-22'],
              dtype='datetime64[ns]', freq=None)

In [5]:
table = pd.read_html('https://pandas.pydata.org/docs/user_guide/timeseries.html')
print(table[0].to_html(index=False))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Concept</th>
      <th>Scalar Class</th>
      <th>Array Class</th>
      <th>pandas Data Type</th>
      <th>Primary Creation Method</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Date times</td>
      <td>Timestamp</td>
      <td>DatetimeIndex</td>
      <td>datetime64[ns] or datetime64[ns, tz]</td>
      <td>to_datetime or date_range</td>
    </tr>
    <tr>
      <td>Time deltas</td>
      <td>Timedelta</td>
      <td>TimedeltaIndex</td>
      <td>timedelta64[ns]</td>
      <td>to_timedelta or timedelta_range</td>
    </tr>
    <tr>
      <td>Time spans</td>
      <td>Period</td>
      <td>PeriodIndex</td>
      <td>period[freq]</td>
      <td>Period or period_range</td>
    </tr>
    <tr>
      <td>Date offsets</td>
      <td>DateOffset</td>
      <td>None</td>
      <td>None</td>
      <td>DateOffset</td>
    </tr>
  </tbody>
</table>

In [8]:
pd.Series(range(3), index=pd.date_range('2000', freq='D', periods=3))

2000-01-01    0
2000-01-02    1
2000-01-03    2
Freq: D, dtype: int64

In [9]:
pd.Series(pd.date_range('2000-01-01', periods=3))

0   2000-01-01
1   2000-01-02
2   2000-01-03
dtype: datetime64[ns]

In [16]:
pd.Series(pd.period_range('2000-01-01', periods=3, freq='D'))

0    2000-01-01
1    2000-01-02
2    2000-01-03
dtype: period[D]

In [20]:
pd.Series([pd.DateOffset(), pd.DateOffset(2)])

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object

In [21]:
pd.Series(pd.date_range('2011-01-01', periods=3, freq='M'))

0   2011-01-31
1   2011-02-28
2   2011-03-31
dtype: datetime64[ns]

In [34]:
ts = pd.Series(np.random.randn(3), index=[pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')])
ts

2012-05-01   -0.307234
2012-05-02   -0.062421
2012-05-03    0.258522
dtype: float64

In [35]:
ts1 = pd.Series(np.random.randn(3), index=pd.period_range('2012-01', periods=3, freq='M'))
ts1

2012-01    0.417909
2012-02    1.202644
2012-03    0.453541
Freq: M, dtype: float64

In [36]:
ts1.index

PeriodIndex(['2012-01', '2012-02', '2012-03'], dtype='period[M]')

In [37]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [44]:
s = pd.to_datetime(['14-11-2021', '11-14-2021'], dayfirst=True)

In [42]:
div = pd.to_datetime('2021-11-15')
div

Timestamp('2021-11-15 00:00:00')

In [45]:
s - div

TimedeltaIndex(['-1 days', '-1 days'], dtype='timedelta64[ns]', freq=None)

In [47]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [52]:
pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2010-11-12 00:00:00')

In [53]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [54]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit="ms")

DatetimeIndex(['1970-01-16 14:55:20.105000', '1970-01-16 14:56:46.505000',
               '1970-01-16 14:58:12.905000', '1970-01-16 14:59:39.305000',
               '1970-01-16 15:01:05.705000'],
              dtype='datetime64[ns]', freq=None)

In [57]:
pd.Timestamp(1252347200000000000).tz_localize('US/Pacific')

Timestamp('2009-09-07 18:13:20-0700', tz='US/Pacific')

In [58]:
pd.to_datetime(1252347200000000000).tz_localize('US/Pacific')

Timestamp('2009-09-07 18:13:20-0700', tz='US/Pacific')

In [60]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
stamps

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq='D')

In [61]:
(stamps - pd.Timestamp('1970-01-01')) // pd.Timedelta('1s')

Int64Index([1349720105, 1349806505, 1349892905, 1349979305], dtype='int64')

In [62]:
(stamps - pd.Timestamp('1970-01-01'))

TimedeltaIndex(['15621 days 18:15:05', '15622 days 18:15:05',
                '15623 days 18:15:05', '15624 days 18:15:05'],
               dtype='timedelta64[ns]', freq=None)

In [80]:
pd.to_datetime([1,2,3], unit='D', origin=pd.Timestamp('2000-12-31'))

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03'], dtype='datetime64[ns]', freq=None)

In [81]:
start = datetime.datetime(2011, 1, 1)
end = datetime.datetime(2012, 1, 1)
index = pd.date_range(start, end)
index_1 = pd.bdate_range(start, end)

In [83]:
len(index.unique())

366

In [84]:
len(index_1.unique())

260

In [89]:
weekmask = 'Mon Wed Fri'
holidays = [datetime.datetime(2011, 1, 5), datetime.datetime(2011, 3, 14)]
s1 = pd.Series(pd.bdate_range(start, end, freq='C', weekmask=weekmask, holidays=holidays))

In [90]:
s1.dt.day_name()

0         Monday
1         Friday
2         Monday
3      Wednesday
4         Friday
         ...
149    Wednesday
150       Friday
151       Monday
152    Wednesday
153       Friday
Length: 154, dtype: object

In [92]:
rng = pd.date_range(start, end, freq='BM')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [100]:
ts['4/29/2011']

-0.6261136391037867

In [101]:
end

datetime.datetime(2012, 1, 1, 0, 0)

In [104]:
ts[datetime.datetime(2011, 12, 24):]

2011-12-30    0.531169
Freq: BM, dtype: float64

In [107]:
dft = pd.DataFrame(np.random.randn(100000, 1), columns=['A'], index=pd.date_range('20130101', periods=100000, freq='T'))
# dft.loc['2013'] # all rows label included '2013'
dft['2013-01': '2013-2']

                            A
2013-01-01 00:00:00  0.958292
2013-01-01 00:01:00 -0.791636
2013-01-01 00:02:00 -0.793050
2013-01-01 00:03:00 -0.824582
2013-01-01 00:04:00  1.037946
...                       ...
2013-02-28 23:55:00 -0.317738
2013-02-28 23:56:00  0.493543
2013-02-28 23:57:00 -0.285891
2013-02-28 23:58:00 -0.237404
2013-02-28 23:59:00  1.644467

[84960 rows x 1 columns]

In [131]:
dft2 = pd.DataFrame(np.random.randn(20,1), columns=['A'],
                    index=pd.MultiIndex.from_product([pd.date_range('20130101', periods=10, freq='12H'), ['a', 'b']]))
dft2.head(2)

                     A
2013-01-01 a -0.793421
           b  2.176883

In [132]:
idx = pd.IndexSlice
dft3 = dft2.swaplevel(0,1).sort_index()
dft3.head(3)

                              A
a 2013-01-01 00:00:00 -0.793421
  2013-01-01 12:00:00 -0.049653
  2013-01-02 00:00:00 -0.516393

In [134]:
dft3.loc['a']

                            A
2013-01-01 00:00:00 -0.793421
2013-01-01 12:00:00 -0.049653
2013-01-02 00:00:00 -0.516393
2013-01-02 12:00:00 -1.264289
2013-01-03 00:00:00 -0.995504
2013-01-03 12:00:00 -0.455159
2013-01-04 00:00:00 -1.125428
2013-01-04 12:00:00 -0.547555
2013-01-05 00:00:00  0.728503
2013-01-05 12:00:00 -1.593669

In [136]:
dft3.loc[idx[:,'2013-01-05'], :]

                              A
a 2013-01-05 00:00:00  0.728503
  2013-01-05 12:00:00 -1.593669
b 2013-01-05 00:00:00 -0.712439
  2013-01-05 12:00:00 -1.459130

In [137]:
series_second = pd.Series([1,2,3], index=pd.DatetimeIndex(['2011-12-31 23:59:59', '2012-01-01 00:00:00', '2012-01-01 00:00:01']))
series_second.index.resolution # second

'second'

In [138]:
series_second['2011-12-31 23:59'] # Series

2011-12-31 23:59:59    1
dtype: int64

In [141]:
series_second['2011-12-31 23:59:59'] # scalar

1

In [146]:
df1 = pd.DataFrame({'a': [1,2,3], 'b': [4,5,6]}, index=series_second.index)
df1

                     a  b
2011-12-31 23:59:59  1  4
2012-01-01 00:00:00  2  5
2012-01-01 00:00:01  3  6

In [148]:
series_monthly = pd.Series([1,2,3], pd.DatetimeIndex(['2011-12', '2012-01', '2012-02']))
series_monthly.index.resolution
series_monthly

2011-12-01    1
2012-01-01    2
2012-02-01    3
dtype: int64

In [150]:
series_monthly['2011-12-01'] # return Series

1

In [2]:
import numpy as np
import pandas as pd
import datetime

In [25]:
rng2 = pd.date_range("2011-01-01", periods=1000)
ts2 = pd.DataFrame(np.random.randn(len(rng2)), index=rng2)

In [26]:
ts2.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2013-09-17', '2013-09-18', '2013-09-19', '2013-09-20',
               '2013-09-21', '2013-09-22', '2013-09-23', '2013-09-24',
               '2013-09-25', '2013-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [28]:
ts2['day_in_month'] = ts2.index.days_in_month

In [29]:
ts2

                   0  day_in_month
2011-01-01 -0.047819            31
2011-01-02  0.503091            31
2011-01-03  0.631736            31
2011-01-04 -0.380339            31
2011-01-05 -0.157527            31
...              ...           ...
2013-09-22 -0.459790            30
2013-09-23  1.118003            30
2013-09-24 -1.108981            30
2013-09-25 -0.021773            30
2013-09-26  0.229330            30

[1000 rows x 2 columns]

In [30]:
ts = pd.Timestamp('2016-10-30 00:00:00', tz='Europe/Helsinki')
ts

Timestamp('2016-10-30 00:00:00+0300', tz='Europe/Helsinki')

In [31]:
ts + pd.Timedelta('1 day') # days=1

Timestamp('2016-10-30 23:00:00+0200', tz='Europe/Helsinki')

In [32]:
ts + pd.DateOffset(days=1)

Timestamp('2016-10-31 00:00:00+0200', tz='Europe/Helsinki')

In [33]:
friday = pd.Timestamp('2018-01-05')
friday.day_name()

'Friday'

In [36]:
two_business_days = 2 * pd.offsets.BDay()
two_business_days.apply(friday).day_name()

'Tuesday'

In [35]:
(friday + two_business_days).day_name()

'Tuesday'

In [40]:
table = pd.read_html('https://pandas.pydata.org/docs/user_guide/timeseries.html')
print(table[2].to_html(index=False))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Date Offset</th>
      <th>Frequency String</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DateOffset</td>
      <td>None</td>
      <td>Generic offset class, defaults to absolute 24 hours</td>
    </tr>
    <tr>
      <td>BDay or BusinessDay</td>
      <td>'B'</td>
      <td>business day (weekday)</td>
    </tr>
    <tr>
      <td>CDay or CustomBusinessDay</td>
      <td>'C'</td>
      <td>custom business day</td>
    </tr>
    <tr>
      <td>Week</td>
      <td>'W'</td>
      <td>one week, optionally anchored on a day of the week</td>
    </tr>
    <tr>
      <td>WeekOfMonth</td>
      <td>'WOM'</td>
      <td>the x-th day of the y-th week of each month</td>
    </tr>
    <tr>
      <td>LastWeekOfMonth</td>
      <td>'LWOM'</td>
      <td>the x-th day of the last week of each month</td>
    </tr>
    <tr>
      <td>MonthEnd</td>
      <td>'M'</td>
      <td>calendar month end</td>
    </tr>
    <tr>
      <td>MonthBegin</td>
      <td>'MS'</td>
      <td>calendar month begin</td>
    </tr>
    <tr>
      <td>BMonthEnd or BusinessMonthEnd</td>
      <td>'BM'</td>
      <td>business month end</td>
    </tr>
    <tr>
      <td>BMonthBegin or BusinessMonthBegin</td>
      <td>'BMS'</td>
      <td>business month begin</td>
    </tr>
    <tr>
      <td>CBMonthEnd or CustomBusinessMonthEnd</td>
      <td>'CBM'</td>
      <td>custom business month end</td>
    </tr>
    <tr>
      <td>CBMonthBegin or CustomBusinessMonthBegin</td>
      <td>'CBMS'</td>
      <td>custom business month begin</td>
    </tr>
    <tr>
      <td>SemiMonthEnd</td>
      <td>'SM'</td>
      <td>15th (or other day_of_month) and calendar month end</td>
    </tr>
    <tr>
      <td>SemiMonthBegin</td>
      <td>'SMS'</td>
      <td>15th (or other day_of_month) and calendar month begin</td>
    </tr>
    <tr>
      <td>QuarterEnd</td>
      <td>'Q'</td>
      <td>calendar quarter end</td>
    </tr>
    <tr>
      <td>QuarterBegin</td>
      <td>'QS'</td>
      <td>calendar quarter begin</td>
    </tr>
    <tr>
      <td>BQuarterEnd</td>
      <td>'BQ</td>
      <td>business quarter end</td>
    </tr>
    <tr>
      <td>BQuarterBegin</td>
      <td>'BQS'</td>
      <td>business quarter begin</td>
    </tr>
    <tr>
      <td>FY5253Quarter</td>
      <td>'REQ'</td>
      <td>retail (aka 52-53 week) quarter</td>
    </tr>
    <tr>
      <td>YearEnd</td>
      <td>'A'</td>
      <td>calendar year end</td>
    </tr>
    <tr>
      <td>YearBegin</td>
      <td>'AS' or 'BYS'</td>
      <td>calendar year begin</td>
    </tr>
    <tr>
      <td>BYearEnd</td>
      <td>'BA'</td>
      <td>business year end</td>
    </tr>
    <tr>
      <td>BYearBegin</td>
      <td>'BAS'</td>
      <td>business year begin</td>
    </tr>
    <tr>
      <td>FY5253</td>
      <td>'RE'</td>
      <td>retail (aka 52-53 week) year</td>
    </tr>
    <tr>
      <td>Easter</td>
      <td>None</td>
      <td>Easter holiday</td>
    </tr>
    <tr>
      <td>BusinessHour</td>
      <td>'BH'</td>
      <td>business hour</td>
    </tr>
    <tr>
      <td>CustomBusinessHour</td>
      <td>'CBH'</td>
      <td>custom business hour</td>
    </tr>
    <tr>
      <td>Day</td>
      <td>'D'</td>
      <td>one absolute day</td>
    </tr>
    <tr>
      <td>Hour</td>
      <td>'H'</td>
      <td>one hour</td>
    </tr>
    <tr>
      <td>Minute</td>
      <td>'T' or 'min'</td>
      <td>one minute</td>
    </tr>
    <tr>
      <td>Second</td>
      <td>'S'</td>
      <td>one second</td>
    </tr>
    <tr>
      <td>Milli</td>
      <td>'L' or 'ms'</td>
      <td>one millisecond</td>
    </tr>
    <tr>
      <td>Micro</td>
      <td>'U' or 'us'</td>
      <td>one microsecond</td>
    </tr>
    <tr>
      <td>Nano</td>
      <td>'N'</td>
      <td>one nanosecond</td>
    </tr>
  </tbody>
</table>

In [41]:
ts = pd.Timestamp('2018-01-06 00:00:00')
ts.day_name()

'Saturday'

In [42]:
offset = pd.offsets.BusinessHour(start='09:00')
offset.rollforward(ts)

Timestamp('2018-01-08 09:00:00')

In [43]:
ts + offset

Timestamp('2018-01-08 10:00:00')

In [44]:
weekmask_egypt = 'Sun Mon Tue Wed Thu'
holidays = ['2012-05-01', datetime.datetime(2013, 5, 1), np.datetime64('2014-05-01')]
bday_egypt = pd.offsets.CustomBusinessDay(holidays=holidays, weekmask=weekmask_egypt)
bday_egypt

In [45]:
dt =datetime.datetime(2013, 4, 30)
dt + 2*bday_egypt

Timestamp('2013-05-05 00:00:00')

In [46]:
(dt + 2*bday_egypt).day_name()

'Sunday'

In [47]:
from pandas.tseries.holiday import USFederalHolidayCalendar
bday_us = pd.offsets.CustomBusinessDay(calendar=USFederalHolidayCalendar())
dt = datetime.datetime(2014, 1, 17)
dt + bday_us

Timestamp('2014-01-21 00:00:00')

In [48]:
bmth_us = pd.offsets.CustomBusinessMonthBegin(calendar=USFederalHolidayCalendar())
dt = datetime.datetime(2013, 12, 17)
dt + bmth_us

Timestamp('2014-01-02 00:00:00')

In [49]:
pd.date_range('20100101', '20120101', freq=bmth_us)

DatetimeIndex(['2010-01-04', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-03', '2010-06-01', '2010-07-01', '2010-08-02',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2011-01-03', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-02', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-03', '2011-11-01', '2011-12-01'],
              dtype='datetime64[ns]', freq='CBMS')

In [61]:
bh = pd.offsets.BusinessHour()
pd.Timestamp('2014-08-01 10:00').day_name()

'Friday'

In [52]:
pd.Timestamp('2014-08-01 10:00') + bh

Timestamp('2014-08-01 11:00:00')

In [53]:
pd.Timestamp('2014-08-01 08:00') + bh

Timestamp('2014-08-01 10:00:00')

In [59]:
pd.Timestamp('2014-08-01 15:59') + bh

Timestamp('2014-08-01 16:59:00')

In [60]:
pd.Timestamp('2014-08-01 16:30') + bh

Timestamp('2014-08-04 09:30:00')

In [62]:
pd.Timestamp('2014-08-01 10:00') + pd.offsets.BusinessHour(2)

Timestamp('2014-08-01 12:00:00')

In [63]:
pd.Timestamp('2014-08-01 10:00') + pd.offsets.BusinessHour(-3)

Timestamp('2014-07-31 15:00:00')

In [65]:
bh = pd.offsets.BusinessHour(start='17:00', end='09:00')
pd.Timestamp('2014-08-01 17:00').day_name()

'Friday'

In [ ]:
pd.Timestamp('2014-08-01 17:00') + bh # 18:00

In [ ]:
pd.Timestamp('2014-08-01 23:00') + bh # 00:00 of next day

In [ ]:
pd.Timestamp('2014-08-02 04:00') + bh # 05:00 of next day

In [64]:
pd.Timestamp('2014-08-04 04:00') + bh # 05:00 of next day

Timestamp('2014-08-04 10:00:00')

In [69]:
pd.offsets.BusinessHour().rollforward(pd.Timestamp('2014-08-02 14:00'))

Timestamp('2014-08-04 09:00:00')

In [86]:
from pandas.tseries.holiday import USFederalHolidayCalendar
bhour_us = pd.offsets.CustomBusinessHour(calendar=USFederalHolidayCalendar())

In [83]:
dt = datetime.datetime(2014, 1, 17, 15)
# (dt + bhour_us).day_name()
# dt + bhour_us * 2
(dt + bhour_us * 2).day_name()
# dt + pd.Timedelta('1 hour')

'Tuesday'

In [94]:
dt1 = datetime.datetime(2014, 1, 16, 13)
dt1 + bhour_us*2

Timestamp('2014-01-16 15:00:00')

In [95]:
bhour_mon = pd.offsets.CustomBusinessHour(start='10:00', weekmask='Tue Wed Thu Fri')
dt + bhour_mon * 2

Timestamp('2014-01-21 10:00:00')

In [98]:
print(table[4].to_html(index=False))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Alias</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>W-SUN</td>
      <td>weekly frequency (Sundays). Same as ‘W’</td>
    </tr>
    <tr>
      <td>W-MON</td>
      <td>weekly frequency (Mondays)</td>
    </tr>
    <tr>
      <td>W-TUE</td>
      <td>weekly frequency (Tuesdays)</td>
    </tr>
    <tr>
      <td>W-WED</td>
      <td>weekly frequency (Wednesdays)</td>
    </tr>
    <tr>
      <td>W-THU</td>
      <td>weekly frequency (Thursdays)</td>
    </tr>
    <tr>
      <td>W-FRI</td>
      <td>weekly frequency (Fridays)</td>
    </tr>
    <tr>
      <td>W-SAT</td>
      <td>weekly frequency (Saturdays)</td>
    </tr>
    <tr>
      <td>(B)Q(S)-DEC</td>
      <td>quarterly frequency, year ends in December. Same as ‘Q’</td>
    </tr>
    <tr>
      <td>(B)Q(S)-JAN</td>
      <td>quarterly frequency, year ends in January</td>
    </tr>
    <tr>
      <td>(B)Q(S)-FEB</td>
      <td>quarterly frequency, year ends in February</td>
    </tr>
    <tr>
      <td>(B)Q(S)-MAR</td>
      <td>quarterly frequency, year ends in March</td>
    </tr>
    <tr>
      <td>(B)Q(S)-APR</td>
      <td>quarterly frequency, year ends in April</td>
    </tr>
    <tr>
      <td>(B)Q(S)-MAY</td>
      <td>quarterly frequency, year ends in May</td>
    </tr>
    <tr>
      <td>(B)Q(S)-JUN</td>
      <td>quarterly frequency, year ends in June</td>
    </tr>
    <tr>
      <td>(B)Q(S)-JUL</td>
      <td>quarterly frequency, year ends in July</td>
    </tr>
    <tr>
      <td>(B)Q(S)-AUG</td>
      <td>quarterly frequency, year ends in August</td>
    </tr>
    <tr>
      <td>(B)Q(S)-SEP</td>
      <td>quarterly frequency, year ends in September</td>
    </tr>
    <tr>
      <td>(B)Q(S)-OCT</td>
      <td>quarterly frequency, year ends in October</td>
    </tr>
    <tr>
      <td>(B)Q(S)-NOV</td>
      <td>quarterly frequency, year ends in November</td>
    </tr>
    <tr>
      <td>(B)A(S)-DEC</td>
      <td>annual frequency, anchored end of December. Same as ‘A’</td>
    </tr>
    <tr>
      <td>(B)A(S)-JAN</td>
      <td>annual frequency, anchored end of January</td>
    </tr>
    <tr>
      <td>(B)A(S)-FEB</td>
      <td>annual frequency, anchored end of February</td>
    </tr>
    <tr>
      <td>(B)A(S)-MAR</td>
      <td>annual frequency, anchored end of March</td>
    </tr>
    <tr>
      <td>(B)A(S)-APR</td>
      <td>annual frequency, anchored end of April</td>
    </tr>
    <tr>
      <td>(B)A(S)-MAY</td>
      <td>annual frequency, anchored end of May</td>
    </tr>
    <tr>
      <td>(B)A(S)-JUN</td>
      <td>annual frequency, anchored end of June</td>
    </tr>
    <tr>
      <td>(B)A(S)-JUL</td>
      <td>annual frequency, anchored end of July</td>
    </tr>
    <tr>
      <td>(B)A(S)-AUG</td>
      <td>annual frequency, anchored end of August</td>
    </tr>
    <tr>
      <td>(B)A(S)-SEP</td>
      <td>annual frequency, anchored end of September</td>
    </tr>
    <tr>
      <td>(B)A(S)-OCT</td>
      <td>annual frequency, anchored end of October</td>
    </tr>
    <tr>
      <td>(B)A(S)-NOV</td>
      <td>annual frequency, anchored end of November</td>
    </tr>
  </tbody>
</table>

In [100]:
from pandas.tseries.holiday import (Holiday, USMemorialDay, AbstractHolidayCalendar, nearest_workday, MO)

In [106]:
class ExampleCalendar(AbstractHolidayCalendar):
    rules = [USMemorialDay, Holiday('July 4th', month=7, day=4, observance=nearest_workday),
             Holiday('Columbus Day', month=10, day=1, offset=pd.DateOffset(weekday=MO(2)))]
cal = ExampleCalendar()
cal.holidays(datetime.datetime(2012, 1, 1), datetime.datetime(2012, 12, 31))

DatetimeIndex(['2012-05-28', '2012-07-04', '2012-10-08'], dtype='datetime64[ns]', freq=None)

In [105]:
t= Holiday(datetime.datetime(2012, 1, 1), datetime.datetime(2012, 12, 31))
t

Holiday: 2012-01-01 00:00:00 (year=2012-12-31 00:00:00, month=None, day=None, )

In [108]:
rng = pd.date_range('2012-01-01', '2013-01-03')

In [123]:
ts = pd.Series(range(len(rng)), index=rng)

In [124]:
ts = ts[:20]
ts

2012-01-01     0
2012-01-02     1
2012-01-03     2
2012-01-04     3
2012-01-05     4
2012-01-06     5
2012-01-07     6
2012-01-08     7
2012-01-09     8
2012-01-10     9
2012-01-11    10
2012-01-12    11
2012-01-13    12
2012-01-14    13
2012-01-15    14
2012-01-16    15
2012-01-17    16
2012-01-18    17
2012-01-19    18
2012-01-20    19
Freq: D, dtype: int64

In [125]:
ts.shift(5)

2012-01-01     NaN
2012-01-02     NaN
2012-01-03     NaN
2012-01-04     NaN
2012-01-05     NaN
2012-01-06     0.0
2012-01-07     1.0
2012-01-08     2.0
2012-01-09     3.0
2012-01-10     4.0
2012-01-11     5.0
2012-01-12     6.0
2012-01-13     7.0
2012-01-14     8.0
2012-01-15     9.0
2012-01-16    10.0
2012-01-17    11.0
2012-01-18    12.0
2012-01-19    13.0
2012-01-20    14.0
Freq: D, dtype: float64

In [126]:
ts.shift(5, freq=pd.offsets.BDay())

2012-01-06     0
2012-01-09     1
2012-01-10     2
2012-01-11     3
2012-01-12     4
2012-01-13     5
2012-01-13     6
2012-01-13     7
2012-01-16     8
2012-01-17     9
2012-01-18    10
2012-01-19    11
2012-01-20    12
2012-01-20    13
2012-01-20    14
2012-01-23    15
2012-01-24    16
2012-01-25    17
2012-01-26    18
2012-01-27    19
dtype: int64

In [127]:
ts.shift(5, freq='BM')

2012-05-31     0
2012-05-31     1
2012-05-31     2
2012-05-31     3
2012-05-31     4
2012-05-31     5
2012-05-31     6
2012-05-31     7
2012-05-31     8
2012-05-31     9
2012-05-31    10
2012-05-31    11
2012-05-31    12
2012-05-31    13
2012-05-31    14
2012-05-31    15
2012-05-31    16
2012-05-31    17
2012-05-31    18
2012-05-31    19
dtype: int64

In [128]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    270
2012-01-01 00:00:01    492
2012-01-01 00:00:02    300
2012-01-01 00:00:03    228
2012-01-01 00:00:04    126
                      ...
2012-01-01 00:01:35    264
2012-01-01 00:01:36    186
2012-01-01 00:01:37     66
2012-01-01 00:01:38    129
2012-01-01 00:01:39    256
Freq: S, Length: 100, dtype: int32

In [129]:
ts.resample('5Min').mean()

2012-01-01    237.37
Freq: 5T, dtype: float64

In [133]:
ts.resample('5Min', closed='right').mean()

2011-12-31 23:55:00    270.000000
2012-01-01 00:00:00    237.040404
Freq: 5T, dtype: float64

In [136]:
ts.resample('5Min', label='right').mean()

2012-01-01    237.37
Freq: 5T, dtype: float64