In [2]:
import pyodbc

In [4]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [13]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=CATERPILLAR;'
                      'Database=AdventureWorks2014;'
                      'Trusted_Connection=yes;')

In [19]:
import numpy as np
import pandas as pd

In [21]:
df = pd.date_range('20110101',periods = 6)
df

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df_1 = pd.DataFrame(np.random.randn(6,4), index = df, columns = list('ABCD'))
df_1

                   A         B         C         D
2011-01-01 -0.413145  0.051231 -1.743822  0.949522
2011-01-02  1.007288  1.057667 -0.267115  0.865818
2011-01-03 -0.879163 -1.194839  2.011170 -2.672938
2011-01-04  1.552998 -0.304477  1.026283 -0.689413
2011-01-05 -2.529448 -1.452939 -1.123921  1.812310
2011-01-06 -0.293008 -1.353449  0.586799 -0.735936